/* || RESET */
* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    min-width: 300px;
    min-height: 300px;
    width: 50vmin;
    height: 50vmin;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    box-sizing: content-box;
}

.cell {
    flex: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    user-select: none;
}

.hover {
    background: #ccc;
}